@import "antd/dist/antd.css";

body {
  margin: 0;
  padding: 0;
  line-height: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.transparent {
  background: transparent !important;
}

#stage {
  width: 89vw;
  height: 100vh;
  border: 4px solid green;
}

.list {
  height: 100%;
}
